<div class="container-fluid">
  <div id="carouselExampleControls" class="carousel slide w-100 mx-auto " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://heliosjewels.vn/cdn/shop/files/web_1024x1024.jpg?v=1675132659" class="d-block w-100 rounded-3" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://heliosjewels.vn/cdn/shop/files/banner_neko_1024x1024.jpg?v=1681102976" class="d-block w-100 rounded-3" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://heliosjewels.vn/cdn/shop/files/Collection_SF-1_1024x1024.jpg?v=1678462436" class="d-block w-100 rounded-3" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row mt-5 ">
  <div class="col-sm-4 " *ngFor="let product of products ; index as i">
  <div class="card mx-auto" style="width: 18rem;">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body " >
        <!-- <div class="col-3">{{ i + 1 }}</div> -->
        <img class="w-100" src="{{ product.imgUrl }}" alt="">
        <p class="card-text">{{ product.name }}</p>
        <p class="card-text">{{ product.price }}</p>
        <p class="card-text">{{ product.desc }}</p>
        
  
        <!-- <button
                class="btn btn-primary"
                (click)="toggleDescription(product)"
              >
                show
              </button> -->
        <!-- <p *ngIf="product.isDescriptionVisible" class="card-text">
          {{ product.description }}
        </p> -->
        
        <a href="/productdetail" class="btn btn-primary"> Detail</a>
        <button class="btn btn-danger" (click)="delete(product.id!)">Xóa</button>
        <a class="btn" [routerLink]="'product-update/' + product.id">Update</a>
      </div>

      
    </div>
    
  </div>
  </div>

  <!-- <div class="new_arrivals">
    <div class="">
      <div class="img ">
        <img class="w-100" src="https://pos.nvncdn.net/6dfdd6-29193/ps/20230403_I16g02ViH5.jpeg" alt="">
      </div>
      <div class="text">
        <p>INFLATION
          SELECTED CREAM COURE TRACKPANTS</p>
          <p>660,000₫</p>
      </div>
    </div>
    
</div> -->
</div>
