<div class="content">
    <div class="anh">
        <div class="">
            <img src="https://heliosjewels.vn/cdn/shop/files/sunflower_900x.jpg?v=1679913870" alt="">
        </div>
        <div class="">
            <img src="https://heliosjewels.vn/cdn/shop/files/Untitled-2_900x.jpg?v=1679913899" alt="">
        </div>
            
            
        
    </div>
    <div class="">
        <p>Nhẫn Bạc S925 RED DEVIL RING Helios Silver Original</p>
        <p>695.000₫</p>
        <form action="">
            <select name="lang" id="lang-select">
                <option value="">Size 6</option>
                <option value="">Size 7</option>
                <option value="">Size 8</option>
                <option value="">Size 9</option>
                <option value="">Size 10</option>
                
            </select>
            số lượng <input type="text"> <br>
            <button>Thêm vào giỏ hàng</button>
        </form>
        
    </div>
</div>